:root {
    --h1Size: clamp(2.9rem, 6.9vw, 6.9vw);
    --h2Size: 2.2rem;
    --h3Size: 1rem;
    --h4Size: 1.8rem;
    --pSize: 1.1rem;
}


.hero-section {
    height: 100vh;
    height: 100svh;
    border-radius: 32px;
}


.contact-section-title h2 {
    font-size: 2.4rem;
}


#ui-design-mobile {
    gap: 24vw;
}


.hero-section-footer-socials{
    margin-bottom: 5vh;
}



.hero-section-content .row {
    gap: 8px;
}

.gif-text {
    display: flex !important;
}

.break {
    white-space: none;
    overflow-wrap: none;
} 

#gif-text-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#gif-text-screen {
    display: none !important;
}

.hero-container {
    width: 90% !important;
}

.contact-section {
    margin-top: 0;
}

#hero-title {
    padding-top: 0 !important;
}

.main-content-mobile-media img {
    max-width: 120%;
}
