:root {
    --h1Size: clamp(2.9rem, 6.9vw, 6.9vw);
    --h2Size: 2.2rem;
    --h3Size: 1rem;
    --h4Size: 1.8rem;
    --pSize: 1.1rem;
}



.contact-section-title h2 {
    font-size: 2.4rem;
}


#ui-design-mobile {
    gap: 24vw;
}